<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>867465137995-lqpc542g51o8ed0fgh3i8g045978clgu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.867465137995-lqpc542g51o8ed0fgh3i8g045978clgu</string>
	<key>API_KEY</key>
	<string>AIzaSyAoZY2bYhJAOdSkgcLTNZupXQm2XKxaA4A</string>
	<key>GCM_SENDER_ID</key>
	<string>867465137995</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nudge.chatapp</string>
	<key>PROJECT_ID</key>
	<string>nudgechatapp</string>
	<key>STORAGE_BUCKET</key>
	<string>nudgechatapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:867465137995:ios:dc2e771df7b4a73c4162ce</string>
</dict>
</plist>