<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>904935982970-c67tl60oi4570p29n8u7kkngocas9fgk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.904935982970-c67tl60oi4570p29n8u7kkngocas9fgk</string>
	<key>API_KEY</key>
	<string>AIzaSyC5cwfIgXsOv1Iq0XO231FAwaF34yrE6Dg</string>
	<key>GCM_SENDER_ID</key>
	<string>904935982970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SwiftUI-Chat</string>
	<key>PROJECT_ID</key>
	<string>swiftuichat-2f596</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuichat-2f596.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:904935982970:ios:8dc8901f040c2df29478c3</string>
</dict>
</plist>